In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [13]:
df = pd.read_csv('C:/Users/Allen/Documents/Kaggle/Datasets/spam.csv', \
                 sep=',', encoding='latin-1')

In [14]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
df = df.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)
df = df.rename(columns={"v1":"label", "v2":"text"})
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
df['y'] = df['label'].map({'ham': 0, 'spam': 1})
df.head()

  label                                               text  y
0   ham  Go until jurong point, crazy.. Available only ...  0
1   ham                      Ok lar... Joking wif u oni...  0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...  1
3   ham  U dun say so early hor... U c already then say...  0
4   ham  Nah I don't think he goes to usf, he lives aro...  0

In [17]:
print(df.shape)
print(df.label.value_counts())

(5572, 3)
ham     4825
spam     747
Name: label, dtype: int64

In [18]:
# tokenize the email and hashes the symbols into a vector
def extract_features(email, B=1024):
    # initialize all-zeros feature vector
    v = np.zeros(B)
    email = ' '.join(email)
    # breaks for non-ascii characters
    tokens = email.split()
    for token in tokens:
        v[hash(token) % B] = 1
    return v

In [19]:
def load_spam_data(extract_features, B=1024):
    
    xs = np.zeros((df.shape[0], B))
    
    labels = df['y'].values

    for i, email in enumerate(df['text']):
        xs[i, :] = extract_features(email, B)
    return xs

Xspam = load_spam_data(extract_features)
Xspam.shape
Yspam = df['y'].values

In [20]:
X_train, X_test, y_train, y_test = train_test_split(Xspam, Yspam, test_size = 0.2, random_state = 10)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression(solver='liblinear', penalty='l2')
model.fit(X_train, y_train)
pred = model.predict(X_test)

# evaluate training accuracy
scoresTr = model.predict(X_train)
trainingacc = accuracy_score(y_train, scoresTr)

# accuracy_score(X_train, scoresTr)
validationacc = accuracy_score(y_test, pred)
print("Training accuracy %2.2f%%\nValidation accuracy %2.2f%%\n" % (trainingacc*100,validationacc*100))

Training accuracy 98.65%
Validation accuracy 98.39%